[run]
omit =
    tests/*
    */__init__.py

[report]
# Exclude docstrings, comments, and blank/whitespace-only lines from coverage
exclude_lines =
    # Ignore docstrings
    ^\s*"""      # start of a triple-quoted string
    ^\s*'''      # start of a single-quoted string

    # Ignore comments
    ^\s*#.*

    # Ignore empty or whitespace-only lines
    ^\s*$
