[run]
omit =
    tests/*
    */__init__.py

[report]
# Exclude docstrings from line coverage
exclude_lines =
    # Have to ignore docstrings
    ^\s*"""      # start of a triple-quoted string
    ^\s*'''      # start of a single-quoted string
